<div class=" animated zoomIn">
<div class="row">
	<div class="col-md-12 text-center">
		<h1>Fixed vs Growth Mindset Quiz</h1>
	</div>
</div>
<br />
<br />
<br />
<form method="POST" action="/submit">
	{{#each question}}
		<div class="row">
			<div class="col-md-5 col-md-offset-1 question">
	 			<h6>{{this.question}}</h6>
			</div>
			<div class="col-md-5">
				<div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
		  			<label class="btn btn-default hvr-grow-shadow"><input type="radio" name="sa{{this.id}}">Strongly Agree</label>
					<label class="btn btn-default hvr-grow-shadow"><input type="radio" name="aa{{this.id}}">Agree</label>
					<label class="btn btn-default hvr-grow-shadow"><input type="radio" name="dd{{this.id}}">Disagree</label>
					<label class="btn btn-default hvr-grow-shadow"><input type="radio" name="sd{{this.id}}">Strongly Disagree</label>
				</div>
			</div>
		</div>
	{{/each}}


<div class="row">
	<div class="col-md-12 text-center">
	<br />
	<br />
		<button type="submit" class="btn btn-default hvr-grow">Submit!</button>
	</div>
</div>
</form>

</div>