<div class="animated zoomIn text-center well" style="background-color:#FFFFFF;">
	<h1> You have a {{result.name}}</h1>
	<div class="col-md-8 col-md-offset-2">
		<div class="progress">
		  <div class=" progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{result.score}}"
		  aria-valuemin="0" aria-valuemax="45" style="width:{{result.percent}}%">
		    {{result.score}} Points
		  </div>
		</div>
	</div>
	<br />
	<h3>People in a fixed mindset believe you either are or aren’t good at something, based on your inherent nature, because it’s just who you are. People in a growth mindset believe anyone can be good at anything, because your abilities are entirely due to your actions.</h3>
	<h3>{{result.paragraph}}<b>{{result.paragraph2}}</b>{{result.paragraph3}}</h3>
	<img src="https://d262ilb51hltx0.cloudfront.net/max/666/1*PQBc8JCD5yu4x2wxCCGU1g.png">

</div>